html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: calc(100vh - 50px);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    margin-left: 250px;
    overflow-y: scroll;
    height: calc(100vh - 100px);
    z-index:2;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}
.container-fluid{
    padding-left:15px;
}
#sidebar {
    float: left;
    padding-top: 20px;
    min-width: 250px;
    max-width: 250px;
    background-color: #333333;
    min-height: calc(100vh - 100px);
}
    #sidebar .navbar-nav > li {
        width: -webkit-fill-available;
    }
    #sidebar .navbar-nav > li a {
        padding-left: 30px;
    }
ul.nav.navbar-nav.navbar-right{
    padding-right: 30px;
}
.footer{
    padding-top: 15px;
    height:50px;
    margin-top: -50px;
    background-color: #333333;
    color: #999999;
}
.note span{
    padding: 0 30px;
    font-size:smaller;
    color: #333333;
}
.Comment p{
    margin-bottom: 0;
    font-style:italic;
    color: #333333;
}
hr{
    margin: 5px;
}
.glyphicon.glyphicon-star {
    color: #f7cf05;
    font-size: larger;
}
.tutorial {
    border-block-width: 1px;
    border: #e3e0e0;
    border-style: groove;
    border-radius: 25px;
    background-color:#f5f0f0;
}